In [4]:
import pandas as pd
import numpy as np
import os
from sklearn.linear_model import LinearRegression

In [12]:
data = pd.read_csv("../datasets/customer-churn-model/Customer Churn Model.txt", sep=",")
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [21]:
feature_columns = ["Day Mins", "Day Calls"]

In [22]:
X = data[feature_columns]
Y = data["Day Charge"]

In [23]:
lm = LinearRegression()
lm.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
print(lm.intercept_)
print(lm.coef_)

0.0004958728560531256
[1.69999592e-01 1.17583418e-06]

Day Charge = 0.0004958728560531256 + 1.69999592e-01 * DayMins + 1.17583418e-06 * DayCalls

In [25]:
list(zip(feature_columns, lm.coef_))

[('Day Mins', 0.1699995921879399), ('Day Calls', 1.1758341764317136e-06)]

In [26]:
lm.score(X,Y)

0.9999999043872959

In [27]:
data["Prediction"] = lm.predict(pd.DataFrame(data[feature_columns]))

In [28]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Prediction
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False.,45.067517
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False.,27.472575
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False.,41.378531
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False.,50.898457
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False.,28.339561

In [29]:
SSD = np.sum((data["Prediction"] - data["Day Charge"])**2)
SSD

0.02731426550437569

In [31]:
day_charge_mean = np.mean(data["Day Charge"])
day_charge_mean

30.562307230723093

In [32]:
RSE = np.sqrt(SSD/(len(data)-len(feature_columns)-1))
RSE

0.002863997579162062

In [35]:
error = RSE/day_charge_mean
error*100

0.009371012330780436