# Titanic dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [49]:
df = pd.read_csv("../datasets/titanic/titanic3.csv")
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
df.shape

(1309, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [9]:
df.groupby(df["survived"]).count()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
survived,,,,,,,,,,,,,
0,809,809,809,619,809,809,809,808,102,809,9,121,398
1,500,500,500,427,500,500,500,500,193,498,477,0,347

In [50]:
df["family_size"] = df.sibsp + df.parch

In [13]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,family_size
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",0
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",3
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",3
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",3
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",3

In [51]:
df.corr()

,pclass,survived,age,sibsp,parch,fare,body,family_size
pclass,1.000000,-0.312469,-0.408106,0.060832,0.018322,-0.558629,-0.034642,0.050027
survived,-0.312469,1.000000,-0.055513,-0.027825,0.082660,0.244265,NaN,0.026876
age,-0.408106,-0.055513,1.000000,-0.243699,-0.150917,0.178739,0.058809,-0.240230
sibsp,0.060832,-0.027825,-0.243699,1.000000,0.373587,0.160238,-0.099961,0.861952
parch,0.018322,0.082660,-0.150917,0.373587,1.000000,0.221539,0.051099,0.792296
fare,-0.558629,0.244265,0.178739,0.160238,0.221539,1.000000,-0.043110,0.226492
body,-0.034642,NaN,0.058809,-0.099961,0.051099,-0.043110,1.000000,-0.033628
family_size,0.050027,0.026876,-0.240230,0.861952,0.792296,0.226492,-0.033628,1.000000

In [52]:
df.drop(["name", "ticket", "fare", "embarked", "cabin", "boat", "body", "home.dest"], axis=1, inplace=True)
df.head()

   pclass  survived     sex      age  sibsp  parch  family_size
0       1         1  female  29.0000      0      0            0
1       1         1    male   0.9167      1      2            3
2       1         0  female   2.0000      1      2            3
3       1         0    male  30.0000      1      2            3
4       1         0  female  25.0000      1      2            3

In [53]:
# Move the survived column to the end
df = df[["pclass", "sex", "age", "sibsp", "parch", "family_size", "survived"]]
df.head()

   pclass     sex      age  sibsp  parch  family_size  survived
0       1  female  29.0000      0      0            0         1
1       1    male   0.9167      1      2            3         1
2       1  female   2.0000      1      2            3         0
3       1    male  30.0000      1      2            3         0
4       1  female  25.0000      1      2            3         0

In [54]:
# Check for any missing values 
df.isna().any()

pclass         False
sex            False
age             True
sibsp          False
parch          False
family_size    False
survived       False
dtype: bool

In [55]:
df["age"].isna().value_counts()

False    1046
True      263
Name: age, dtype: int64

In [56]:
# We can either drop na values or use any interpolation methods to fill the missing values
df.age = df["age"].fillna(method="ffill")

In [57]:
# Convert categorical features to numeric, using Labelencoder
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

df["sex"] = encoder.fit_transform(df["sex"])
df.head()

   pclass  sex      age  sibsp  parch  family_size  survived
0       1    0  29.0000      0      0            0         1
1       1    1   0.9167      1      2            3         1
2       1    0   2.0000      1      2            3         0
3       1    1  30.0000      1      2            3         0
4       1    0  25.0000      1      2            3         0

In [58]:
# Age groups --> 0-18 (0), 19-35 (1), 36-45 (2), 45-55 (3), 55+ (4)
a = map(lambda x: x//15, df["age"])
a = list(a)
print(len(a))

1309

In [59]:
df["age"] = pd.Series(a)
df["age"].head()

0    1.0
1    0.0
2    0.0
3    2.0
4    1.0
Name: age, dtype: float64

## Model

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [60]:
x = df[["pclass", "sex", "age", "family_size"]]
y = df["survived"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [41]:
x_train.shape

(981, 4)

In [42]:
x_test.shape

(328, 4)

In [43]:
y_train.shape

(981,)

In [44]:
y_test.shape

(328,)

In [61]:
clf = DecisionTreeClassifier(criterion="entropy", random_state=1995)
clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1995,
            splitter='best')

In [63]:
clf.score(x_test, y_test)

0.7286585365853658

### Hyperparameter tuning using GridSearchCV method

In [66]:
from sklearn.model_selection import GridSearchCV

In [65]:
clf.get_params

<bound method BaseEstimator.get_params of DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1995,
            splitter='best')>

In [81]:
params = {
    "max_depth": [1,2,3,4,5,6,7,8,9,10],
    "min_samples_split": [2,3,4,5,6],
    "criterion": ["entropy", "gini"]
}

In [82]:
cv = GridSearchCV(estimator=clf, param_grid=params, scoring="accuracy", cv=5, n_jobs=-1)

In [83]:
cv.fit(x_train, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1995,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'min_samples_split': [2, 3, 4, 5, 6], 'criterion': ['entropy', 'gini']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [88]:
print(cv.best_params_)
print(cv.best_score_)

{'criterion': 'entropy', 'max_depth': 6, 'min_samples_split': 2}
0.8287461773700305

In [89]:
new_clf = DecisionTreeClassifier(criterion="entropy", max_depth=6, min_samples_split=2, random_state=1995)
new_clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=6,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1995,
            splitter='best')

In [90]:
new_clf.score(x_test, y_test)

0.7286585365853658

In [92]:
# Prediction
from sklearn import metrics
preds = new_clf.predict(x_test)

accurary = metrics.accuracy_score(y_test, preds)
print("The prediction accurary is {:.2f}%".format(accurary*100))

The prediction accurary is 72.87%

In [93]:
df["prediction"] = new_clf.predict(x)
df.head(15)

    pclass  sex  age  sibsp  parch  family_size  survived  prediction
0        1    0  1.0      0      0            0         1           1
1        1    1  0.0      1      2            3         1           1
2        1    0  0.0      1      2            3         0           0
3        1    1  2.0      1      2            3         0           1
4        1    0  1.0      1      2            3         0           1
5        1    1  3.0      0      0            0         1           0
6        1    0  4.0      1      0            1         1           1
7        1    1  2.0      0      0            0         0           0
8        1    0  3.0      2      0            2         1           1
9        1    1  4.0      0      0            0         0           0
10       1    1  3.0      1      0            1         0           0
11       1    0  1.0      1      0            1         1           1
12       1    0  1.0      0      0            0         1           1
13       1    0  1.0      0      0            0         1           1
14       1    1  5.0      0      0            0         1           0

### Confusion matrix

In [95]:
from sklearn.metrics import confusion_matrix

In [103]:
actual = pd.Series(df["survived"])
prediction = pd.Series(df["prediction"])

In [105]:
confusion_matrix = pd.crosstab(actual, prediction)
confusion_matrix

prediction    0    1
survived
0           690  119
1           127  373