In [37]:
from sklearn.svm import SVC
import pandas as pd
from sklearn import cross_validation as cv
import numpy as np

## Preparamos el dataset

In [20]:
data = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt", header=None)
data.columns = ["id_paciente","V1","V2","V3","V4","V5","V6","V7","V8","V9","class"]
data.drop(["id_paciente"], axis=1, inplace=True)
data.replace("?", -99999, inplace=True)
data.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [21]:
colnames = data.columns.values.tolist()

X = data[colnames[:-1]]
Y = data[colnames[-1]]

X_train, X_test, Y_train, Y_test = cv.train_test_split(X, Y, test_size=0.25)

## Utilizamos algoritmo SVM

In [26]:
clf = SVC(kernel="rbf", decision_function_shape="ovr", C=1.0)
clf.fit(X_train, Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [27]:
score = clf.score(X_test, Y_test)
print("Precisión: {:.3f}".format(score*100))

Precisión: 96.000

In [29]:
data["prediction"] = clf.predict(X)

data[["class", "prediction"]].head(10)

   class  prediction
0      2           2
1      2           4
2      2           2
3      2           2
4      2           2
5      4           4
6      2           2
7      2           2
8      2           2
9      2           2

In [43]:
datos = np.array([1,2,3,4,5,6,7,8,9]).reshape(1,-1) #Al ser solo un valor, hay que ponerlo como matriz
clf.predict(datos)

array([4])